<% content_for :head do %>
<div id="Menu-top">
	<ul>
		<div id="Menu-top-li">
			<li><%= link_to "Liste des rapports", "report" %></li>
			<li><%= link_to "Index", root_path %></li>
		</div>
	</ul>
</div>
<% end %>
<h1>Configuration du crawler</h1>

<%= form_for(Site.new) do |f| %>
    Nom : <%= f.text_field :name, :placeholder=>'nom du site', :required => true %>
    Url :<%= f.text_field :url, :placeholder=>'url du site', :required => true %>
    <%= f.submit "Valider" %>
<% end %>