<% content_for :head do %>
<div id="Menu-top">
	<ul>
		<div id="Menu-top-li">
			<li><%= link_to "Ajouter un site", crawler_path %></li>
			<li><%= link_to "Index", root_path %></li>
		</div>
	</ul>
</div>
<% end %>

<div id="report_index_link">
<ul>
<% @sites.each do |s| %>
	<div id="report_index_block">
	<div id="img_delete_report"><%= link_to "", "/report/" + s.id.to_s , method: :delete %></div>
	<% if s.name.to_s == "" %>
		<li class="index_li_link"> Nom : <%= link_to s.name.nil? ? s.url : s.url, report_path(s.id) %> (<%= s.url %>)
	<% else %>
		<li class="index_li_link"> Nom : <%= link_to s.name.nil? ? s.url : s.name, report_path(s.id) %> (<%= s.url %>)
	<% end %>
	</li>
		<span id="txt">Crawler le : <%= s.created_at.to_s(:short) %></span><br/>
		<span id="txt">Nombre de pages : <%= s.pages.count %></span><br/>
		<span id="txt">Erreurs de balises < hx > :</span>
		<font color=<% if s.seoerrors.where(code: [1, 2, 3]).count == 0 %> "green" <% else %> "red" <% end %>>
			<% if s.seoerrors.where(code: [1, 2, 3]).count == 0 %>
				Aucune erreur<br />
			<%else%>
				<%= s.seoerrors.where(code: [1, 2, 3]).count %> erreurs<br />
			<% end %>
		</font>
		<span id="txt">Nombre d'erreurs html : </span>
		<%= s.pages.joins('INNER JOIN html_errors ON html_errors.page_id = pages.id').count %><br/>
	</div>
<% end %>
</ul>
</div>