<% content_for :head do %>
<div id="Menu-top">
	<ul>
		<div id="Menu-top-li">
			<li><%= link_to "Ajouter un site", crawler_path %></li>
			<li><%= link_to "Index", root_path %></li>
		</div>
	</ul>
</div>
<% end %>

<div id="report_index_link">
<ul>
<% @sites.each do |s| %>
	<div id="report_index_block">
		<div id="img_delete_report">
			<%= link_to "", "/report/" + s.id.to_s, method: :delete %>
		</div>
		<div id="img_refresh_report">
			<%= link_to "", crawler_path + "/" + s.id.to_s %>
		</div>
		<div id="img_sitemap_report">
			<% unless s.sitemap.nil? %>
				<%= link_to "Sitemap HTTP", "report/print/" + s.id.to_s, method: :get  %>
			<% end %>
		</div>
		<div id="img_sitemap_https_report">
			<% unless s.sitemap.nil? %>
				<%= link_to "Sitemap HTTPS", "report/print-https/" + s.id.to_s, method: :get  %>
			<% end %>
		</div>
		<div id="img_sitemap_image_report">
			<% unless s.sitemap.nil? %>
				<%= link_to "Sitemap Image HTTP", "report/print-image/" + s.id.to_s, method: :get  %>
			<% end %>
		</div>
		<div id="img_sitemap_image_https_report">
			<% unless s.sitemap.nil? %>
				<%= link_to "Sitemap Image HTTPS", "report/print-https-image/" + s.id.to_s, method: :get  %>
			<% end %>
		</div>
			<div id="img_search_report">
			<%= link_to "", list_path + "/ranks/" +  s.id.to_s %>
		</div>
		<li class="index_li_link"><%= link_to s.url, report_path(s.id) %></li>
		<span id="txt">Id : <%= s.id %></span><br/>
		<span id="txt">Crawl le : <%= s.created_at.to_s(:short) %></span><br/>
		<span id="txt">Mis à jour le : <%= s.updated_at.to_s(:short) %></span><br/>
		<span id="txt">Nombre de pages : <%= s.pages.count %></span><br/>
		<span id="txt"> <% if s.processing %> En cours de crawl <% else %> Crawl fini <% end %> </span><br />
		<span id="txt">Erreurs de balises hx :</span>
		<font color=<% if s.seoerrors.where(code: [1, 2, 3]).count == 0 %> "green" <% else %> "red" <% end %>>
			<% if s.seoerrors.where(code: [1, 2, 3]).count == 0 %>
				Aucune erreur<br />
			<%else%>
				<%= s.seoerrors.where(code: [1, 2, 3]).count %> erreurs<br />
			<% end %>
		</font>
		<span id="txt">Nombre d'erreurs html : </span>
		<%= s.seoerrors.where(code: 4).count %><br/>
	</div>
<% end %>
</ul>
</div>
