<% content_for :head do %>
<div id="Menu-top">
	<ul>
		<div id="Menu-top-li">
			<li><%= link_to "Liste des rapports", list_path %></li>
			<li><%= link_to "Index", root_path %></li>
			<li><%= link_to "Ajouter un site", crawler_path %></li>
		</div>
	</ul>
</div>
<% end %>

Id : <%= @site.id %><br />
Url : <%= @site.url %><br />
<br />

<div id="img_print_ranks">
	<%= link_to "", "/report/ranks/" + @site.id.to_s + "/export", method: :get %>
</div>

<br /><br /><br /><br />
<%= form_tag("", method: "post") do %>
  <div id="area_ranks">
  	<%= text_area_tag(:q) %>
  </div>
  <% hidden_field_tag(:id, @site.id) %>
  <%= submit_tag("Add") %>
<% end %>

<div id ="rang_balises">
	<% if @ranks.count == 0 %>
		Aucunes position enregistré
	<% else %>
	<table border="1">
		<tr>
			<td><center>Requete</center></td>
			<td><center>Rang</center></td>
		</tr>
		<% @ranks.each do |p| %>
				<tr>
					<% if p.pos == -1 %>
						<td>
							<div id="img_delete_ranks">
								<%= link_to "", "" + p.id.to_s, method: :delete %>
							</div>
							<%= p.query %>
						</td>
						<td>
							<font color="red">>100</font>
						</td>
					<% else %>
						<td>
							<div id="img_delete_ranks">
								<%= link_to "", "" + p.id.to_s, method: :delete %>
							</div>
							<%= p.query %>
						</td>
						<td><%= p.pos %></td>
					<% end %>
				</tr>
		<% end %>
	</table>
	<% end %>
</div>

