
<center><h1> Rapport du site <%= @site.name %> </h1> <br /><br />

Adresse URL     : <%= @site.url %> <br />
Nombre de pages : <%= @site.pages.count %> <br />

Compte rendu synthétique : <br />
Erreurs de balises < hx > :
<font color=<% if @err[:hx].count == 0 %> "green" <% else %> "red" <% end %>>
<% if @err[:hx].count == 0 %>
	Aucune erreur<br />
<%else%>
	<%= @err[:hx].count %> erreurs<br />
	<% (0..@err[:hx].count - 1).each do |e| %>
		<ul> Erreur sur la balise ligne <%= @err[:hx][e][:curr][:pos].to_s %> sur <%= @err[:hx][e][:file] %> </ul>
	<% end %> 
<% end %>
</font>
Compte rendu détaillé : <br />

<% @site.pages.each do |p| %>
	Page         : <%= p.url %> <br />
	Images       : <%= p.imgs.count %> <br />
	<% if p.imgs.where(alt:nil).count > 0 %> <font color="red"> 
		<%= p.imgs.where(alt:nil).count %> n'ont pas d'attribut alt <br />
		<% p.imgs.where(alt:nil).each do |i| %>
		 <li> <%= i.url %> </li>
		 <%end%>
		 </font>
	<%end %> 
	<% if p.imgs.where(title:nil).count > 0 %> <font color="red"> 
		<%= p.imgs.where(title:nil).count %> n'ont pas d'attribut title <br />
		<% p.imgs.where(title:nil).each do |i| %>
		<li> <%= i.url %> </li>
		<%end%>
		</font>
	<%end %> 
	<br/>
	Erreurs HTML : <font color=<% if !p.html_errors.count %> "green" <% else %> "red" <% end%>> <%= p.html_errors.count %>
	</center><br/>
	<%  p.html_errors.each do |e| %>
	<li>	<%= e.str %>  ligne <%= e.line %></li>
	<% end %>
	</font>
	Balises : <br />
	<% p.hxes.each do |h| %>
		<li> Balise n° <%= p.hxes.index(h) + 1 %> > h<%= h.x %> <%= h.content %></li>
	<% end %>
<% end %>