<% content_for :head do %>
<div id="Menu-top">
	<ul>
		<div id="Menu-top-li">
			<li><%= link_to "Liste des rapports", "../report" %></li>
			<li><%= link_to "Index", root_path %></li>
			<li><%= link_to "Ajouter un site", crawler_path %></li>
		</div>
	</ul>
</div>
<% end %>
<center><h1> Rapport du site <%= @site.name %> </h1> <br /><br />

Adresse URL     : <%= @site.url %> <br />
Nombre de pages : <%= @site.pages.count %> <br />

Erreurs de balises < hx > :
<font color=<% if @site.seoerrors.where(code: [@HX_ORDER, @HX_DUPLICATE, @HX_DIFF]).count == 0 %> "green" <% else %> "red" <% end %>>
<% if @site.seoerrors.where(code: [@HX_ORDER, @HX_DUPLICATE, @HX_DIFF]).count == 0 %>
	Aucune erreur<br />
<%else%>
	<%= @site.seoerrors.where(code: [@HX_ORDER, @HX_DUPLICATE, @HX_DIFF]).count %> erreurs<br />
<% end %>
</font>
<br/>
<% @site.pages.each do |p| %>
	<%= link_to p.url, '/report/' + @site.id.to_s + '/' + p.id.to_s %>
	<% if p.seoerrors.where(code: [@HX_ORDER, @HX_DUPLICATE, @HX_DIFF]).count > 0 %><font color="red">
		<br/>
	 	Erreurs balise hx : <%= p.seoerrors.where(code: [@HX_ORDER, @HX_DUPLICATE, @HX_DIFF]).count %>
		</font>
	<%end %>
	<% if p.seoerrors.where(code: @IMG_NOALT).count > 0 %><font color="red"> 
		<br/>
	 	Images sans Alt : <%= p.seoerrors.where(code: @IMG_NOALT).count %>
		</font>
	<%end %>
	<% if p.seoerrors.where(code: @PARSER).count > 0 %>
		<font color="red">
		<br/>
		Erreurs HTML : <%= p.seoerrors.where(code: @PARSER).count %>
		</font>
	<% end %>
	<br/>
<% end %>
</center>